{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="text-align: center">
    <h1>404</h1>
    <p>
        <strong>Page not found :(</strong>
    </p>
    <p>The requested page could not be found.</p>
</div>
{% endblock %}
